{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
History
{% endblock %}

{% block head %}
  {{ super() }}
  {% include 'head.html' %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .card-img-top.img-rounded {
      height: 100%;
      max-height: 95vh;
      object-fit: cover;
      position: fixed;
    }

    .form-group.required label{
  		display: None;
	}

	th {
	    background-color: #040640;
	    color: white;
	}
  </style>
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="card">
  <img class="card-img-top img-rounded" src={{ url_for('static',filename='background.png') }}>
  <div class="card-img-overlay mx-auto">
    <br/>
    <center><h2>History</h2></center>
    {% include 'flash.html' %}

    {% if reset %}
	<form method="POST" class="form-inline float-sm-left">
		{{ wtf.form_field(form.reset_button)}} 
	</form>
	{% endif %}
	<form method="POST" class="form-inline float-sm-right">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.search_text, class="form-control mr-sm-2", placeholder="MRN") }}
		{{ wtf.form_field(form.search) }}
	</form>

	<br/>
	<br/>

      <div class="shadow-lg bg-white mx-auto">
        <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">MRN</th>
		      <th scope="col">Filename</th>
		      <th scope="col">Timestamp</th>
		      <th scope="col">Physician's Report</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for row in uploads %}
			  <tr>
				<td>{{ row.mrn }}</td>
			   	<td>{{ row.filename }}</td>
			    <td>{{ row.timestamp }}</td>
			    <td><a href="{{ url_for('report', user=current_user.username, transcription=row.transcription_id) }}">View Report</a></td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
</div>

{% endblock %}
