{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
History
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<style type="text/css">
	.form-group.required label{
  		display: None;
	}
</style>

<br/>
<br/>
<div class="container">
	<center><h2>History</h2></center>
	<form method="POST" class="form-inline float-sm-right">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.search_text, class="form-control mr-sm-2", placeholder="MRN") }}{{ wtf.form_field(form.search) }}
	</form>
	<br/>
	<br/>

	<table class="table table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Filename</th>
	      <th scope="col">MRN</th>
	      <th scope="col">Timestamp</th>
	      <th scope="col">Physician's Report</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for row in uploads %}
		  <tr>
		   	<td>{{ row.filename }}</td>
		    <td>{{ row.mrn }}</td>
		    <td>{{ row.timestamp }}</td>
		    <td><a href="{{ url_for('report', user=current_user.username, transcription=row.transcription_id) }}">View Report</a></td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>
</div>

{% endblock %}
