{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ARMR
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<style>
    .container {
      width: 22rem;
      margin-bottom: 10px;
      border-color: rgba(128,128,128);
    }

}
</style>

<br>
<div class="img_box" align="center">
    <figure class="figure">
    <img src={{ url_for('static', filename='logo_ftw.png') }} width="85%" height="85%" class="figure-img img-fluid img-rounded">
    </figure>

    <h3>Audio Recorded Medical Record</h3>

</div>

{% if not current_user.is_authenticated %}
<div class="container">
    {% include 'flash.html' %}
    <form method="POST">
        <p>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <center>{{ wtf.form_field(form.submit)}}</center>
    </form>
    <center><a href="{{url_for('register')}}">Create new account</a></center>
</div>
{% else %}
    <center><h4>{{ current_user.username }}</h4></center>
    <center><a href="/logout" class="btn btn-primary">Log out</a></center>
{% endif %}

{% endblock %}


