<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #699abf" role="navigation">
  <a class="navbar-brand" href="/">
    <img src={{ url_for('static',filename='ARMR2.png') }} height="40">
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('upload', user=current_user.username) }}">Upload</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('queue', user=current_user.username) }}">Status</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('history', user=current_user.username) }}">History</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
      {% if current_user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
